
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #656565;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    background-color: #e0e0e0;
    background-repeat: repeat-x;
    background-position: top;
    background-image: url(/resources/jpg/bg.jpg)
}


.name p {
    font-size: 20px;
    margin: 2;
    padding: 2;
    text-align: center;

}